.site-header nav {

    ul {
        padding:0;
        margin:0;
        @extend .group;
        // I had created a class group in ul in html file. 
        // That can be removed and inheritance, @extend.group
        // can be used instead in ul in the scss file.
    }

    li {
        list-style:none;
        float:left;
        margin-right:10px;
		@include bp-babyBear{
			float: none;
			margin-right: 0;
			margin-bottom: 2px;
		}
		@include bp-papaBear{
			margin-right: 50px;
		}
    }

    a {
        display:block;
        padding:10px;
        background-color: $primarycolor;
        color: #fff;
        text-decoration: none;
    }
}